@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
	margin: 0;
	padding: 0;
	transition: all 0.3s linear;

	color: white;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

ul,
li {
	list-style: none;
}
li {
	cursor: pointer;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #2c3e50;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	width: 100%;
	margin: 3vh 0;
	position: sticky;
}
.nav_item_link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}
.nav_item_link lord-icon {
	transform: scale(2);
}

.nav {
	height: 7vh;
	width: inherit;

	display: flex;
	justify-content: center;
	position: relative;

	background: #333;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.nav:last-child {
	float: right;
}
.nav_item {
	height: 100%;
	width: 33.3%;
	border-right: 1px solid pink;
}
.nav_item:last-child {
	border: none;
}
.item_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	position: relative;

	width: 100%;
}

.sub_nav_item {
	width: 50%;
	position: relative;
}
.nav_item:hover {
	background-color: green;
}
.sub_nav {
	position: absolute;
	display: none;
	opacity: 0;
	top: 0;
	width: 100%;
}

.sub_nav li a {
	padding-left: 1vw;
	text-decoration: none;
}

.sub_nav li a {
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: row;
}

.sub_nav li {
	background: #333;
	border-radius: 8px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	padding: 1vw 0;
	margin: 0.5vw 0;
}

.nav_item:hover .sub_nav:not(.subsub) {
	opacity: 1;
	top: 100%;
	display: inline;
}

.sub_nav li {
	opacity: 0.8;
}

.sub_nav li:hover {
	opacity: 1;
	background-color: green;
}
.item_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.item_content span {
	margin: 0 0.5vw 0 0;
}

/* ! sub sub nav */
.subsub {
	position: absolute;
	display: none;
	opacity: 0;
}

.subsub_item {
	margin: 0;
}

.sub_nav_item:hover .subsub {
	display: inline;
	width: 100%;
	opacity: 1;

	top: -15%;
	left: 100%;
}
